#Pytorch installation
transformers
datasets==3.0.1
peft
sacrebleu
pandas
matplotlib
psutil
rouge==1.0.1
pylint==3.3.1
flake8==7.1.1
mypy==1.11.2
isort
ruff==0.6.9
evaluate==0.4.3
rouge-score==0.1.2
nltk
absl-py