#Pytorch installation
transformers==4.45.1
datasets==3.0.1
peft==0.13.0
sacrebleu==2.4.3
pandas==2.2.3
matplotlib==3.9.2
psutil==6.0.0
evaluate==0.4.3
rouge==1.0.1
rouge_score==0.1.2
nltk==3.9.1
absl-py==2.1.0
pylint==3.3.1
flake8==7.1.1
mypy==1.11.2
isort==5.13.2
ruff==0.6.9